$proximaPath: '../fonts/ProximaNova/';
$futuraPath: '../fonts/Futura/';

/** Proxima Nova **/

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url($proximaPath + 'ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url($proximaPath + 'ProximaNova-Bold.woff2') format('woff2'),
    url($proximaPath + 'ProximaNova-Bold.woff') format('woff'),
    url($proximaPath + 'ProximaNova-Bold.ttf') format('truetype'),
    url($proximaPath + 'ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url($proximaPath + 'ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url($proximaPath + 'ProximaNova-Semibold.woff2') format('woff2'),
    url($proximaPath + 'ProximaNova-Semibold.woff') format('woff'),
    url($proximaPath + 'ProximaNova-Semibold.ttf') format('truetype'),
    url($proximaPath + 'ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url($proximaPath + 'ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url($proximaPath + 'ProximaNova-Black.woff2') format('woff2'),
    url($proximaPath + 'ProximaNova-Black.woff') format('woff'),
    url($proximaPath + 'ProximaNova-Black.ttf') format('truetype'),
    url($proximaPath + 'ProximaNova-Black.svg#ProximaNova-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url($proximaPath + 'ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url($proximaPath + 'ProximaNova-Regular.woff2') format('woff2'),
    url($proximaPath + 'ProximaNova-Regular.woff') format('woff'),
    url($proximaPath + 'ProximaNova-Regular.ttf') format('truetype'),
    url($proximaPath + 'ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url($proximaPath + 'ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url($proximaPath + 'ProximaNova-Light.woff2') format('woff2'),
    url($proximaPath + 'ProximaNova-Light.woff') format('woff'),
    url($proximaPath + 'ProximaNova-Light.ttf') format('truetype'),
    url($proximaPath + 'ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Futura **/

@font-face {
    font-family: 'Futura Bold';
    src: url($futuraPath + 'Futura-Bold.eot?#iefix') format('embedded-opentype'),
    url($futuraPath + 'Futura-Bold.woff2') format('woff2'),
    url($futuraPath + 'Futura-Bold.woff') format('woff'),
    url($futuraPath + 'Futura-Bold.ttf') format('truetype'),
    url($futuraPath + 'Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.proxima-bold
{
    font-family: 'Proxima Nova Bold', sans-serif;
}

.proxima-regular
{
    font-family: 'Proxima Nova Regular', sans-serif;
}

.futura-bold
{
    font-family: 'Futura Bold', sans-serif;
}