<header>
    <div class="header-wrapper">
        <div class="media">
            <div class="media-left media-middle">
                <div class="menu-icon">
                    <span class="line top"></span>
                    <span class="line middle"></span>
                    <span class="line bottom"></span>
                </div>
            </div>

            <div class="media-body">
                <div class="logo-wrapper">
                    <span>{{ 'app.name'|trans }}</span>
                </div>
            </div>
        </div>

        <div class="connection-button-wrapper">
            <input type="button" value="{{ 'app.layout.header.connection'|trans }}" />
        </div>
    </div>
</header>