<div class="menu">
    <div class="content">
        <ul class="list-onglet">
            {% for i in 1..4 %}
                <li class="onglet">
                    <a href="{{ "app.layout.menu.onglets.#{i}.path"|trans }}">{{ "app.layout.menu.onglets.#{i}.name"|trans }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="black-filter"></div>