{% extends "@Client/layout.html.twig" %}

{% block body %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome register page.
    </p>

    {{ form_start(form ) }}
    {{ form_widget(form) }}
    <button type="submit">Se connecter</button>
    {{ form_end(form) }}

{% endblock %}