.project-list-content
{
    padding: 15px 35px;
    width: 100%;
    margin-top: $header-height + $header-padding * 2;

    .filter-wrapper
    {
        @include border-radius(5px);
        padding: 10px;
        background-color: white;
        display: inline-block;
        margin-bottom: 15px;
        text-align: center;

        .filter
        {
            @include border-radius(25px);
            @extend .proxima-bold;
            padding: 5px 15px;
            color: white;
            font-size: 18px;
            float: left;

            &:not(.active)
            {
                color: $light-black;
                background: none;
            }

            &:not(:first-child)
            {
                margin-left: 10px;
            }

            &:not(:last-child)
            {
                margin-right: 10px;
            }
        }
    }

    .grid-sizer
    {
        width: 50%;

        @media screen and (min-width: $screen-md-min) {
            width: 33.333%;
        }

        @media screen and (min-width: $screen-lg-min) {
            width: 25%;
        }
    }

    .grid-item
    {
        overflow: hidden;
        margin-bottom: 30px;

        &.width-2
        {
            width: 50%;

            @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                width: 66.666%;
            }
        }
    }

    .project-wrapper
    {
        width: 100%;

        .project
        {
            @include border-radius(5px);
            overflow: hidden;
            position: relative;
            background-color: white;
            width: 100%;
            box-shadow: 0 2px 20px -5px rgba(0,0,0,0.3);

            &.black
            {
                border-bottom: 2px solid #212121;

                .category {
                    background-image: linear-gradient(to right, #4b4b4b, #272727);
                }

                .color-line {
                    @include linear-gradient(to right, #4b4b4b, #272727);
                }
            }

            &.blue
            {
                border-bottom: 2px solid #3e68ac;

                .category {
                    background-image: linear-gradient(to right, #4885e7, #569ceb);
                }

                .color-line {
                    @include linear-gradient(to right, #4885e7, #569ceb);
                }
            }

            &.green
            {
                border-bottom: 2px solid #41752c;

                .category {
                    background-image: linear-gradient(to right, #61d432, #429321);
                }

                .color-line {
                    @include linear-gradient(to right, #61d432, #429321);
                }
            }

            &.red
            {
                border-bottom: 2px solid #b22b41;

                .category {
                    background-image: linear-gradient(to right, #ff5250, #eb3351);
                }

                .color-line {
                    @include linear-gradient(to right, #ff5250, #eb3351);
                }
            }

            &.yellow
            {
                border-bottom: 2px solid #bf712c;

                .category {
                    background-image: linear-gradient(to right, #ffbf38, #ff8b24);
                }

                .color-line {
                    @include linear-gradient(to right, #ffbf38, #ff8b24);
                }
            }

            a
            {
                display: inline-block;
                text-decoration: none;
                width: 100%;
            }

            .image-container
            {
                padding: 10px 10px 0;
                width: 100%;
                height: 300px;

                .image-positioner
                {
                    @include border-radius(5px);
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img
                    {
                        max-width: 100%;
                        min-height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .text-content-wrapper
            {
                padding: 15px;
                margin-bottom: 10px;
                text-align: center;

                .category-container
                {
                    margin-bottom: 10px;

                    .category
                    {
                        @extend .proxima-bold;
                        font-size: 20px;
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .name-container
                {
                    margin-bottom: 10px;

                    .name
                    {
                        @extend .proxima-bold;
                        font-size: 25px;
                        color: $light-black;
                    }
                }

                .district-container
                {
                    .district
                    {
                        @extend .proxima-regular;
                        font-size: 15px;
                        color: #9b9b9b;
                    }
                }
            }

            .color-line
            {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 10px;
            }
        }
    }
}