.location-content
{
    $filter-bar-height: 75px;
    margin-top: $header-height;

    .filter-container
    {
        width: 100%;
        height: 65px;
        background-color: white;
        border-bottom: 1px solid lightgray;
        padding: 10px 35px;

        @media screen and (max-width: $screen-xs-max) {
            visibility: hidden;
            position: fixed;
            height: calc(100vh - (#{$header-height-mobile} ));
            top: 75px;
            background-color: #fff;
            z-index: 9999;
            width: 100%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -ms-flex;
            display: flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            webkit-justify-content:center;
            -moz-justify-content:center;
            -ms-justify-content:center;
            justify-content:center;
            &.active{
                visibility: visible;
            }
            .closeFilter{
                background-color: inherit !important;
                margin: 0 !important;
                width: 100%;
                font-size: 20px;
                text-align: center;
            }

        }

        .filter-wrapper
        {
            form
            {
                width: 100%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flexbox;
                display: -ms-flex;
                display: flex;
                -webkit-align-items: center;
                -moz-align-items: center;
                -ms-align-items: center;
                -ms-flex-align: center;
                align-items: center;

                @media screen and (max-width: $screen-xs-max) {
                    -webkit-flex-flow: row wrap;
                    -moz-flex-flow: row wrap;
                    -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
                }

                > div, > input, > button, > select, > div {
                    background-color: #F2F2F2;
                    color: #272727;
                    height: 40px;
                    margin-right: 20px;
                    border-radius: 5px;
                    @extend .proxima-regular;
                    font-weight: 700;

                    @media screen and (max-width: $screen-xs-max) {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                    &#location_location{
                        margin-right: 10px;
                    }
                    &#location_location{
                        position: relative;
                        width: 40px;
                        border-radius: 30px;
                        &:after{
                            font-family: "Font Awesome 5 Free";
                            font-size: 20px;
                            font-weight: 700;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%,-50%);
                            -moz-transform: translate(-50%,-50%);
                            -ms-transform: translate(-50%,-50%);
                            -o-transform: translate(-50%,-50%);
                            transform: translate(-50%,-50%);
                            content: '\f3c5';
                        }
                    }
                    &.location_address{
                        padding: 10px;
                        padding-left: 30px;
                        position: relative;
                        input{
                            background-color: #F2F2F2;
                            vertical-align: top;
                            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                                @extend .proxima-regular;
                                font-weight: 500;
                                color: #D1D1D1;
                            }
                            &::-moz-placeholder { /* Firefox 19+ */
                                @extend .proxima-regular;
                                font-weight: 500;
                                color: #D1D1D1;
                            }
                            &:-ms-input-placeholder { /* IE 10+ */
                                @extend .proxima-regular;
                                font-weight: 500;
                                color: #D1D1D1;
                            }
                            &:-moz-placeholder { /* Firefox 18- */
                                @extend .proxima-regular;
                                font-weight: 500;
                                color: #D1D1D1;
                            }
                        }
                        &:before{
                            margin-right: 5px;
                            background-image: url('../img/searchPicto.png');
                            background-size: 18px 18px;
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            content:"";
                            margin-left: -15px;
                        }
                    }
                    &#location_search{
                        background-color: $gradient-light-blue;
                        color: #ffffff;
                    }
                    &.nice-select{
                        @extend .proxima-bold;
                        width: 200px;
                        border: 0px;
                        float: inherit;
                        font-size: 15px;
                        color: $light-black;
                        &:after{
                            border-width: 8.7px 5px 10px 5px;
                            border-style: solid;
                            border-color: #D1D1D1 transparent transparent transparent;
                            content: '';
                            display: block;
                            height: inherit;
                            margin-top: -4px;
                            pointer-events: none;
                            position: absolute;
                            right: 12px;
                            top: 50%;
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -ms-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: all 0.15s ease-in-out;
                            transition: all 0.15s ease-in-out;
                            width: auto;
                        }
                        .list {
                            width: 100%;
                            height: auto;
                            padding: 20px;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            border: 0px;
                            -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
                            -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
                            box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flexbox;
                            display: -ms-flex;
                            display: flex;
                            -webkit-flex-flow: row wrap;
                            -moz-flex-flow: row wrap;
                            -ms-flex-flow: row wrap;
                            flex-flow: row wrap;

                            @media screen and (max-width: $screen-xs-max) {
                                padding: 10px;
                            }
                            li {
                                color: #999999;
                                width: 100%;
                                padding: 0px;
                                -webkit-transition: none;
                                -moz-transition: none;
                                -ms-transition: none;
                                -o-transition: none;
                                transition: none;
                                font-size: 14px;
                                padding:0 15px;
                                &.selected, &.focus {
                                    background-color: $gradient-light-blue !important;
                                    color: white !important;
                                    border-radius: 30px !important;
                                }
                                &:hover {
                                    background-color: $gradient-light-blue;
                                    color: white;
                                    border-radius: 30px;
                                }
                                &.disabled {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-container
    {
        padding: 0 15px;

        .no-padding
        {
            padding: 0;
        }

        .project-list-content
        {
            margin: 0;

            .project
            {
                margin-bottom: 30px;
            }
        }

        #map-col
        {
            position: fixed;
            right: 0;
            @media screen and (max-width: $screen-xs-max) {
                display: none;
                width: 100%;
                top: $header-height-mobile;
                height: calc(100vh - (#{$header-height-mobile} ));
                #map{
                    height: 100% !important;
                }
            }
            #map
            {
                height: calc(100vh - (#{$header-height} + #{$filter-bar-height}))
            }
        }
    }

    .popUpContainer.geoloc {
        right: 15px;
        bottom: 15px;
        position: fixed;
        z-index: 100;
        display: none;
        @media screen and (max-width: $screen-xs-max) {
            display: block;
        }
        .pictoMap {
            -webkit-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            -moz-box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            background-color: #fff;
            color: #272727;
            width: 60px;
            height: 60px;
            position: relative;
            z-index: 3;
            font-size: 25px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -ms-flex;
            display: flex;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -ms-flex-align: center;
            align-items: center;
        }
    }
    .mapSwitch{
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 175px;
        background-color: #fff;
        border-radius: 30px;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 20px;
        display: none;
        @extend .proxima-bold;
        @media screen and (max-width: $screen-xs-max) {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -ms-flex;
            display: flex;
            visibility: hidden;
            &.active{
                visibility: visible;
            }
        }
        .left{
            border-right: 1px solid #272727;
            padding-right: 10px;
            p{
                &:after{
                    margin-left: 5px;
                    background-image: url('../img/listePicto.png');
                    background-size: 15px 5px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 15px;
                    height: 5px;
                    content:"";
                }
            }
        }
        .right{
            padding-left: 10px;
            p{
                &:after{
                    margin-left: 5px;
                    background-image: url('../img/filterPicto.png');
                    background-size: 15px 15px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 15px;
                    height: 15px;
                    content:"";
                }
            }
        }
    }
}