.project-show-content
{
    width: 100%;
    margin-top: $header-height + $header-padding * 2;
    display: inline-block;

    .project-container
    {
        width: 90%;
        float: left;
        padding: 40px;

        &.black
        {
            .category, .number {
                background-image: linear-gradient(to right, #4b4b4b, #272727);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, #4b4b4b, #272727);
                }
            }
        }

        &.blue
        {
            .category, .number {
                background-image: linear-gradient(to right, #4885e7, #569ceb);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, #4885e7, #569ceb);
                }
            }
        }

        &.green
        {
            .category, .number {
                background-image: linear-gradient(to right, #61d432, #429321);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, #61d432, #429321);
                }
            }
        }

        &.red
        {
            .category, .number {
                background-image: linear-gradient(to right, #ff5250, #eb3351);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, #ff5250, #eb3351);
                }
            }
        }

        &.yellow
        {
            .category, .number {
                background-image: linear-gradient(to right, #ffbf38, #ff8b24);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, #ffbf38, #ff8b24);
                }
            }
        }

        .header-information
        {
            margin-bottom: 50px;

            .category-container
            {
                margin-bottom: 10px;

                .category
                {
                    @extend .proxima-bold;
                    font-size: 25px;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .name-container
            {
                margin-bottom: 10px;

                .name
                {
                    @extend .proxima-bold;
                    font-size: 35px;
                    color: $light-black;
                }
            }

            .district-container
            {
                .district
                {
                    @extend .proxima-regular;
                    font-size: 15px;
                    color: #9b9b9b;
                }
            }
        }

        .detail-information
        {
            margin-bottom: 50px;

            .switch-text-wrapper
            {
                margin-bottom: 25px;

                .switch-container
                {
                    position: relative;
                    display: inline-block;

                    &:first-child
                    {
                        margin-right: 100px;
                    }

                    &.active
                    {
                        .switch
                        {
                            color: $light-black;
                        }
                    }

                    &:not(.active)
                    {
                        .switch:hover
                        {
                            color: #777777;
                        }

                        .color-line
                        {
                            background: none;
                        }
                    }

                    .switch
                    {
                        @extend .proxima-bold;
                        position: absolute;
                        font-size: 18px;
                        color: #999999;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        transform: translateY(-50%);
                        transition: color .2s ease-in-out;
                    }

                    .color-line
                    {
                        height: 12px;
                        width: 70px;
                    }
                }
            }

            .text-wrapper
            {
                p
                {
                    @extend .proxima-regular;
                    font-size: 15px;
                    line-height: 25px;

                    &:not(.active)
                    {
                        display: none;
                    }
                }
            }
        }

        .participant-day-left-wrapper
        {
            @extend .proxima-regular;
            display: inline-block;
            margin-bottom: 50px;

            > div
            {
                float: left;

                &:first-child
                {
                    margin-right: 50px;
                }
            }

            .media-body
            {
                width: auto;
            }

            .number
            {
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 40px;
                margin-right: 10px;
            }

            .text
            {
                color: $light-black;
                font-size: 20px;
            }
        }

        .button-wrapper
        {
            input
            {
                @include border-radius(35px);
                @extend .proxima-bold;
                padding: 10px 0;
                width: 100%;
                font-size: 20px;
                color: white;
            }
        }
    }
}