.project-show-content
{
    $content-padding: 40px;
    $content-width: 90%;

    width: 100%;
    margin-top: $header-height;
    display: inline-block;

    .project-container
    {
        width: $content-width;
        float: left;
        padding: $content-padding;

        &.black
        {
            .category, .number {
                background-image: linear-gradient(to right, $gradient-light-black, $gradient-dark-black);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, $gradient-light-black, $gradient-dark-black);
                }
            }
        }

        &.blue
        {
            .category, .number {
                background-image: linear-gradient(to right, $gradient-light-blue, $gradient-dark-blue);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, $gradient-light-blue, $gradient-dark-blue);
                }
            }
        }

        &.green
        {
            .category, .number {
                background-image: linear-gradient(to right, $gradient-light-green, $gradient-dark-green);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, $gradient-light-green, $gradient-dark-green);
                }
            }
        }

        &.red
        {
            .category, .number {
                background-image: linear-gradient(to right, $gradient-light-red, $gradient-dark-red);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, $gradient-light-red, $gradient-dark-red);
                }
            }
        }

        &.yellow
        {
            .category, .number {
                background-image: linear-gradient(to right, $gradient-light-yellow, $gradient-dark-yellow);
            }

            .switch-container.active
            {
                .color-line {
                    @include linear-gradient(to right, $gradient-light-yellow, $gradient-dark-yellow);
                }
            }
        }

        > .row > [class^='col-']
        {
            &:first-child
            {
                position: fixed;
                width: calc(#{$content-width} * 0.5 - (#{$content-padding} - 15px));
            }

            &:last-child
            {
                float: right;
            }
        }


        .carousel-container
        {
            height: calc(100vh - (#{$header-height} + #{$content-padding} * 2));
            width: 100%;

            .owl-carousel
            {
                height: 100%;
                background-color: white;

                .owl-stage-outer
                {
                    height: 100%;

                    .owl-stage
                    {
                        height: 100%;

                        .owl-item
                        {
                            min-height: 100%;

                            img
                            {
                                max-width: 100%;
                                width: auto;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }

                .owl-nav
                {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background-color: white;

                    div
                    {
                        float: left;
                        padding: 10px 15px;
                    }
                }
            }
        }

        .header-information
        {
            margin-bottom: 50px;

            .category-container
            {
                margin-bottom: 10px;

                .category
                {
                    @extend .proxima-bold;
                    font-size: 25px;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .name-container
            {
                margin-bottom: 10px;

                .name
                {
                    @extend .proxima-bold;
                    font-size: 35px;
                    color: $light-black;
                }
            }

            .district-container
            {
                .district
                {
                    @extend .proxima-regular;
                    font-size: 15px;
                    color: #9b9b9b;
                }
            }
        }

        .detail-information
        {
            margin-bottom: 50px;

            .switch-text-wrapper
            {
                margin-bottom: 25px;

                .switch-container
                {
                    position: relative;
                    display: inline-block;

                    &:first-child
                    {
                        margin-right: 100px;
                    }

                    &.active
                    {
                        .switch
                        {
                            color: $light-black;
                        }
                    }

                    &:not(.active)
                    {
                        .switch:hover
                        {
                            color: #777777;
                        }

                        .color-line
                        {
                            background: none;
                        }
                    }

                    .switch
                    {
                        @extend .proxima-bold;
                        position: absolute;
                        font-size: 18px;
                        color: #999999;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        transform: translateY(-50%);
                        transition: color .2s ease-in-out;
                    }

                    .color-line
                    {
                        height: 12px;
                        width: 70px;
                    }
                }
            }

            .text-wrapper
            {
                p
                {
                    @extend .proxima-regular;
                    font-size: 15px;
                    line-height: 25px;

                    &:not(.active)
                    {
                        display: none;
                    }
                }
            }
        }

        .participant-day-left-wrapper
        {
            @extend .proxima-regular;
            display: inline-block;
            margin-bottom: 50px;

            > div
            {
                float: left;

                &:first-child
                {
                    margin-right: 50px;
                }
            }

            .media-body
            {
                width: auto;
            }

            .number
            {
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 40px;
                margin-right: 10px;
            }

            .text
            {
                color: $light-black;
                font-size: 20px;
            }
        }

        .button-wrapper
        {
            input
            {
                @include border-radius(35px);
                @extend .proxima-bold;
                padding: 10px 0;
                width: 100%;
                font-size: 20px;
                color: white;
            }
        }
    }
}