.two-columns-wrapper {
    .left-part {
        background-color: white;
        padding: 0 100px;
        height: 100vh;
        @media screen and (max-width: $screen-xs-max) {
            padding: 0px;
            margin-top: 75px;
            height:inherit;
        }

        .content {
            height: 100%;
            position: relative;
            background-color: #fff;
        }
    }

    .right-part {
        height: 100vh;
        overflow: hidden;
        position: relative;

        img {
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
}