.new{
  height:100%;
  width: 100%;

  .header{
    position: relative;
    height: 100px;
    border-bottom: 1px solid #DCDCDC;

    .toList {
      z-index: 10;
      position: absolute;
      width: 200px;
      height: auto;
      @extend .proxima-regular;
      font-size: 18px;
      top: 36px;
      left: 30px;

      a {
        display: block;
      }
    }
  }

  .content {
    width: 100%;
    height: 93%;
    background-color: #f8f8f9;

    .formular{
      padding-top: 30px;

      .title{
        text-align: center;
        @extend .proxima-bold;
        margin-bottom: 30px;
      }

      .form{
        text-align: center;

        [name=user] {
          display: inline-block;
          width: 35%;

          .wrapper {
            margin-bottom: 20px;

            .input-wrapper-effect input {
              display: unset;

            }

            div {

              input {
                height: 60px;
                width: 100%;
                padding-left: 20px;
              }
            }

            input#user_password_first {
              margin-bottom: 20px;
            }

            label.required{
              display:none;
            }

            select#user_roles{
              width: 100%;
              height: 55px;
              background-color: white;
              border: 2px solid #f4f4f4;
            }
          }

          .wrapper-picture {
            width: 100%;
            display: inline-block;
            margin-bottom: 20px;

            .input-wrapper-effect{
              width: 100%;

              input#user_picture{
                width: 100%;

              }
            }
          }

          .button-validate {
            .button{
              width: 100px;
              height: 50px;
              @include border-radius(15px);
              border: 2px solid #f4f4f4;
            }
          }
        }
      }
    }
  }
}
