$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

$light-black: #272727;



$border-black: #212121;
$border-blue: #3e68ac;
$border-green: #41752c;
$border-red: #b22b41;
$border-yellow: #bf712c;

$gradient-light-black: #4b4b4b;
$gradient-dark-black: #272727;
$gradient-light-blue: #569ceb;
$gradient-dark-blue: #4885e7;
$gradient-light-green: #4FA76C;
$gradient-dark-green: #169D42;
$gradient-light-red: #ff5250;
$gradient-dark-red: #eb3351;
$gradient-light-yellow: #ffbf38;
$gradient-dark-yellow: #ff8b24;


$header-height: 100px;
$header-height-mobile: 75px;